@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Jost-Regular';
    src: url('/fonts/Jost-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* === Variables Globales === */
:root {
    /* === FUENTES === */
    --font-jost-regular: 'Jost-Regular', sans-serif;
}