@import 'footer.css';
@import 'contact.css';
@import 'home.css';
@import 'trainers.css';
@import 'navbar.css';
@import 'coach.css';
@import 'users.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Jost-Regular';
    src: url('../fonts/Jost-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Jost-Light';
    src: url('../fonts/Jost-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* === Variables Globales === */
:root {
    /* === FUENTES === */
    --font-jost-regular: 'Jost-Regular', sans-serif;
    --font-jost-light: 'Jost-Light', sans-serif;
}