    .container-contact {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 90vh;
        background-image: url('/public/images/transforma.png');
        background-position: bottom;
        background-size: cover;
        font-family: var(--font-jost-regular);
    }

    .subcontainer-contact {
        width: 80vw;
        height: 70vh;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .left-contact {
        width: 70vw;
        background-color: #0f0f0fa4;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px 60px 0px 60px;
    }

    .right-contact {
        width: 70vw;
        background-color: #0f0f0fa4;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        color: white;
        padding: 0px 60px 0px 60px;
    }

    .left-contact h1 {
        width: 100%;
        color: white;
        display: flex;
        justify-content: flex-start;
        font-size: 50px;
        font-weight: bold;
    }

    .input-name {
        width: 100%;
        height: 40px;
        margin: 10px 0px 10px 0px;
        border: none;
        font-size: 12px;
    }

    .input-name:focus {
        outline: none;
    }

    .input-name::placeholder {
        color: black;
        opacity: 1;
        font-size: 12px;
    }

    .text-contact {
        width: 100%;
        height: 80px;
        margin: 10px 0px 10px 0px;
        resize: none;
        border: none;
        font-size: 12px;
    }

    .text-contact::placeholder {
        color: black;
        opacity: 1;
        font-size: 12px;
    }

    .text-contact:focus {
        outline: none;
    }

    .cont-button-contact {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .btn-contact {
        width: 150px;
        margin: 10px 10px 10px 10px;
        background-color: black;
        color: white;
        border-radius: 0;
        border: 1px solid #373737a4; 
    }

    .btn-contact:hover {
        background-color: #373737a4;
    }

    .street a,
    .email a,
    .phone a {
        color: white;
        text-decoration: none;
        margin: 10px 0px 10px 0px;

    }

    .street,
    .phone,
    .email,
    .hour {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;
    }

    .toast {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #ffffffff;
        color: black;
        padding: 15px 25px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s, transform 0.5s;
        z-index: 1000;
    }

    .toast.show {
        opacity: 1;
        transform: translateY(0);
    }