/* ----------------------- seccion transforma ---------------------------*/

.img-home {
    width: 100%;
    height: 35em;
    background-image: url('/public/images/transforma.png');
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-position: bottom;
    font-family: var(--font-jost-regular);
}

.title-banner-home {
    font-size: 60px;
    color: white;
    margin-top: 2em;
    font-weight: bold;
}

.subtitle-banner-home {
    font-size: 25px;
    color: white;
    margin: 0;
}

@media (max-width: 768px) {

    .img-home {
        height: 20em;
    }

    .title-banner-home {
        font-size: 30px;
        padding: 0 20px;
    }

    .subtitle-banner-home {
        font-size: 15px;
        padding: 0 20px;
    }
}

/* ----------------------- seccion history ---------------------------*/

.title-history {
    font-size: 60px;
    color: white;
    font-weight: bold;
}

.container-history {
    width: 100%;
    background-color: #000;
    color: white;
    font-family: var(--font-jost-regular);
}

/* === BANNER === */
.img-history {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
}

.title-history {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
}

.container-history .subcontainer-history {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-history .card-history {
    width: 80%;
    display: flex;
    gap: 20px;
    margin: 10px 0;
}

.card-history:nth-child(even) {
    flex-direction: row-reverse;
}

.media-history,
.card-history p {
    flex: 1;
}

.subcontainer-history h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.subcontainer-history img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: contain;
}

.subcontainer-history p {
    font-size: 16px;
    color: #d0d0d0;
    display: flex;
    align-items: center;
}

.card-history:nth-child(even) .media-history {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.card-history {
    opacity: 0;
    transform: translateX(0) scale(0.95);
}

.card-history.from-left {
    transform: translateX(-150px) scale(0.95);
}

.card-history.from-right {
    transform: translateX(150px) scale(0.95);
}

.card-history.show {
    opacity: 1;
    transform: translateX(0) scale(1);
}

@media (max-width: 768px) {

    .img-home {
        height: 15em;
    }

    .title-history {
        font-size: 22px;
        padding: 0 10px;
    }

    .container-history .card-history {
        width: 95%;
        gap: 20px;
        padding: 1em;
        flex-direction: column;
    }

    .subcontainer-history h3 {
        font-size: 16px;
        align-self: flex-start;
    }

    .subcontainer-history p {
        font-size: 12px;
    }

    .subcontainer-history img {
        max-width: 90%;
        margin: 0 auto;
    }

    .card-history .media-history {
        align-items: center;
    }
}