.navbar {
    background-color: #000000ff;
    font-family: var(--font-jost-regular);
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

.navbar .nav-items {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar a,
.navbar button {
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.navbar a:hover,
.navbar button:hover {
    color: #f0f0f0;
    text-decoration: underline;
}

.navbar .logo img {
    height: 35px;
}