.container-trainers {
    font-family: var(--font-jost-regular);
    background-color: #000000f4;
    background-image: url('/public/images/trainers/gym_cardio_area.png');
    color: black;
}

.container-trainers h1 {
    margin: 0;
    font-weight: bold;
    color: white;
    font-size: 50px;
    padding-left: 4em;
    padding-top: 0.5em;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 15em);
    gap: 4em;
    justify-content: center;
    padding: 20px;
}

.card-trainer {
    width: 15em;
    color: white;
    background-color: #00000093;
    padding: 15px;
}

.card-trainer h4 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
}

.card-trainer h5 {
    font-size: 15px;
    margin: 10px 0px 10px 0px;
}

.card-trainer p {
    font-size: 13px;
    margin: 10px 0px 10px 0px;
}

.card-img {
    width: 15em;
    height: 18em;
}

@media (max-width: 768px) {
    .container-trainers {
        padding: 1em;
        background-size: cover;
        background-position: center;
    }

    .container-trainers h1 {
        font-size: 30px;
        padding-left: 1em;
        padding-top: 0.5em;
    }

    .cards-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
        padding: 10px;
    }

    .card-trainer {
        width: 80%;
        padding: 10px;
        margin: 0 auto;
    }

    .card-trainer h4 {
        font-size: 16px;
    }

    .card-trainer h5 {
        font-size: 14px;
    }

    .card-trainer p {
        font-size: 12px;
    }

    .card-img {
        width: 100%;
        height: auto;
    }
}